@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edd9eb;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  /* Default (desktop) styles */
  --fcc-digit-block-width: 55px;
  --fcc-digit-block-height: 70px;
  --fcc-digit-font-size: 30px;
  --fcc-background: #8479D9 !important;
  --fcc-digit-color: white;
  --fcc-divider-color: #edd9eb; 
}

/* Mobile */
@media (max-width: 640px) {
  :root {
    --fcc-digit-block-width: 30px;
    --fcc-digit-block-height: 45px;
    --fcc-digit-font-size: 25px;
  }
}

/* Small phones */
@media (max-width: 360px) {
  :root {
    --fcc-digit-block-width: 25px;
    --fcc-digit-block-height: 45px;
    --fcc-digit-font-size: 25px;
  }
}


